## Once These Modules are Imported, No Need to Refresh. It will overwrite the Lists that You've compiled for the session.

In [7]:
#import all modules for parsing.
from splinter import Browser
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
import pandas as pd
# url = input(str("Enter Website Url"))
url = 'http://www.fuelly.com/activity?filter=4'
user_list =[]
vehicle_list =[]
mpg_list= []

### To Refresh Scrape Script Run the Following Cell. This will keep using the search query for URL Above.

In [23]:
#come back here to reload page to ensure recent results. Leave Lists Up top to keep from overwriting... Can always drop duplicates.
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
#'http://www.fuelly.com/activity?filter=4'
browser.visit(url)
html=browser.html
soup = bs(html, 'html.parser')
data = soup.find_all('li', class_="activity-list-item fy-icon-fuel-ups")
for data in data:
    user_list.append(data.a.get_text())
    vehicle_list.append(data.a.find_next().get_text())
    mpg_list.append(data.a.find_next().find_next().get_text())

In [24]:
new_df = pd.DataFrame({
    "User": user_list,
    "Vehicle": vehicle_list,
    "MPG": mpg_list
})
new_df.drop_duplicates().to_csv('fuelly-11_2_2019-20_18.csv')

In [25]:
# new_df.to_csv('fuelly-11_2_2019-18_50.csv')
new_df

             User              Vehicle             MPG
0     PressCorpse    2015 Jeep Patriot        24.0 MPG
1          Faiz87     2004 Skoda Fabia        39.4 MPG
2          Calbar   2016 Subaru Legacy        25.5 MPG
3        orionmoo         2015 Audi S3        29.0 MPG
4            iooi     2018 Kia Picanto        36.1 MPG
..            ...                  ...             ...
95         yensen  2016 Subaru Outback        24.3 MPG
96         dpy102     2012 Honda Pilot        18.5 MPG
97       helodrvr    2015 Nissan Titan  26 minutes ago
98  SeizeHerSalad  2012 Volkswagen GTI        32.9 MPG
99           ting    2014 Honda Accord        25.7 MPG

[100 rows x 3 columns]

### These Cells are Specific to CSV Writing, if you Run These Change the File Names to Keep from OverWriting.

In [26]:
#exports the dataframe to a csv file.
#can always export multiples and then reload to chop duplicates???
new_df.to_csv('fuelly-11_3_2019-19:19.csv')

In [12]:
#@todo: clean data and reload into pandas
new_df2 = pd.read_csv('rawdata/fuelly_complete_11-02-2019.csv')
new_df2

                  User  Year       Make      Model    MPG
0              14focus  2018       Ford      Focus   45.2
1              14focus  2018       Ford      Focus   41.8
2         16fordescape  2016       Ford     Escape   21.0
3           1720diesel  2016  Chevrolet  Silverado   14.8
4          17trailhawk  2017       Jeep   Cherokee   16.7
...                ...   ...        ...        ...    ...
1074            yfz450  2018     Nissan      Titan   12.3
1075         ronbo2004  2004       Ford      F-150   11.7
1076           MrDJ246  2010       Ford      F-150   11.5
1077             sioux  2012     Toyota     Tacoma   11.3
1078  SilverBulletCSVT  2010     Yamaha     YBR125  102.0

[1079 rows x 5 columns]

In [16]:
new_df2.groupby('Make')

In [22]:
# master2.groupby('Category')
#count the different categories in the category count.
# model_counts = new_df2['Model'].nunique()
# # make_count = new_df2['Make'].nunique()
# user_counts = new_df2['Users'].nunique()
# #get the average of the reviews for sample of 50
# average_mpg = new_df2['MPG'].mean()

# #group by category
# grouped_df = new_df2.groupby('Make')

# #counts the total of each category within the column
# total_makes = new_df2['Make'].count()
# user_counts = new_df2['User'].nunique()
# average_mpg = new_df2['MPG'].mean()

# #This will populate an array of all categories in Sample.
# # east_category_unique = grouped["Category"].unique()
# # east_category_unique #121 unique categories
# # east_total_categories = len(east_category_unique)

# #Populate a dataframe with specfics on Manhattan,NY Grouped by Category.
# #This will populate the top 10 Categories when using .head(10)Can Be Changed for scope.
# category_stats_df= pd.DataFrame({
#     'Total Makes': total_makes,
#     "Total Users": user_counts,
#     "Average MPG": average_mpg })

ValueError: If using all scalar values, you must pass an index

### Final DataFrame After Clean Up

In [ ]:
#adjust to drop unecessary columns after clean up.
# new_df2.drop(columns={'Unnamed: 0','Unnamed: 6'})
# new_df3 = new_df2.drop(columns={'Unnamed: 0'}).drop_duplicates()
# new_df3