# Scraping AAA to Pull Current Gas Prices

In [4]:
#import all modules for parsing.
from splinter import Browser
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
import pandas as pd
url = 'https://gasprices.aaa.com/'
# url = input(str("Enter Website Url"))
import time

#Function to define browser for mac. Working.
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {'executable_path': '/usr/local/bin/chromedriver'} #Used for Mac
    return Browser("chrome", **executable_path, headless=False)

In [5]:
#come back here to reload page to ensure recent results. Leave Lists Up top to keep from overwriting... Can always drop duplicates.
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'} #Used for Mac Scraping
# Browser("chrome", **executable_path, headless=False)
browser=init_browser()
url = 'https://gasprices.aaa.com/'
#'http://www.fuelly.com/activity?filter=4'
browser.visit(url)
html=browser.html
time.sleep(4)
soup = bs(html, 'html.parser')
data = soup.find_all('table', class_="table-mob")
browser.quit()

In [6]:
#Create Lists to Capture Data.
list_name =[]
regular_avg =[]
mid_avg = []
premium_avg = []
diesel_avg = []
e85_avg = []

#Loop that pulls current average gas prices into lists.
for data in data:
    list_name.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    regular_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    mid_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    premium_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    diesel_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    e85_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())

In [7]:
new_df = pd.DataFrame({
    "Gas Price": list_name,
    "Regular": regular_avg,
    "Mid-Grade": mid_avg,
    "Premium": premium_avg,
    "Diesel": diesel_avg,
    "E85": e85_avg
})

## This will print the Current Average of the Day from AAA.COM

In [8]:
#Current Average Gas Scrape. (11/2/2019 @ 8:16pm)
#based on AAA.Com Website.
new_df

      Gas Price Regular Mid-Grade Premium  Diesel     E85
0  Current Avg.  $2.052    $2.383  $2.648  $2.415  $1.913

In [9]:
#this is a nice sample loop to print each row in seperate lists.
table = soup.find('table', attrs={'class':'table-mob'})
table_rows = table.find_all('tr')
gas_list_aaa = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    gas_list_aaa.append(row)
gas_aaa_df = pd.DataFrame(gas_list_aaa, columns=["", "Regular", "Mid-Grade", "Premium","Diesel", "E85"]).drop([0])

## This will Print the Entire Table from AAA.COM for later Analysis.

In [10]:
gas_aaa_df

                  Regular Mid-Grade Premium  Diesel     E85
1    Current Avg.  $2.052    $2.383  $2.648  $2.415  $1.913
2  Yesterday Avg.  $2.030    $2.369  $2.634  $2.414  $1.891
3   Week Ago Avg.  $1.978    $2.327  $2.592  $2.408  $1.855
4  Month Ago Avg.  $1.839    $2.190  $2.457  $2.422  $1.710
5   Year Ago Avg.  $2.750    $3.087  $3.340  $3.053  $2.368

In [11]:
pdata = []
qdata = []
rdata = []
sdata =[]
tdata = []
for price in gas_aaa_df.loc[:, 'Regular']:
    pdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'Mid-Grade']:
    qdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'Premium']:
    rdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'Diesel']:
    sdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'E85']:
    tdata.append(float(price[1:]))

In [12]:
gas_aaa_df['Regular'] = pdata
gas_aaa_df['Mid-Grade'] = qdata
gas_aaa_df['Premium'] = rdata
gas_aaa_df['Diesel'] = sdata
gas_aaa_df['E85']= tdata

In [25]:
gas_aaa_df

                   Regular  Mid-Grade  Premium  Diesel    E85
1    Current Avg.    2.052      2.383    2.648   2.415  1.913
2  Yesterday Avg.    2.030      2.369    2.634   2.414  1.891
3   Week Ago Avg.    1.978      2.327    2.592   2.408  1.855
4  Month Ago Avg.    1.839      2.190    2.457   2.422  1.710
5   Year Ago Avg.    2.750      3.087    3.340   3.053  2.368

In [14]:
# gas_aaa_df.to_csv('aaa_gasprices.csv')

## This is showing a connection made with SQLite

In [48]:
#Import dependencies for SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, ForeignKey, Integer, String, Float, Boolean, Index

In [31]:
# gas_aaa_df['Regular'] = pdata
# gas_aaa_df['Mid-Grade'] = qdata
# gas_aaa_df['Premium'] = rdata
# gas_aaa_df['Diesel'] = sdata
# gas_aaa_df['E85']= tdata

In [49]:
#schema setup
class gasprice(Base):
    __tablename__ = 'avgprices'
    id = Column(Integer, primary_key = True)
    regular_gas85 = Column(String)
    mid_gas89 = Column(Float)
    premium_gas93 = Column(Float)
    diesel_gas= Column(Float)
    e85_gas = Column(Float)

In [50]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///fuelly.db')

In [51]:
Base.metadata.create_all(engine)

In [52]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [53]:
gas_aaa_df['Regular'][1]

2.052

In [54]:
gas_price_current = gasprice(regular_gas85=gas_aaa_df['Regular'][1])

In [56]:
session.add(gas_price_current)
#commit the objects to the database
session.commit()

In [59]:
#Query the Database to Ensure Values Stored
items = session.query(gasprice)
for item in items:
    print(item.id)
    print(item.regular_gas85)

1
2.052

# Create a Connection to Work with PostgreSQL Database

In [35]:
#@ToDo MakeConnectiontoDatatbase

#create connection to database to push information to database.

#Make sure to include exclusion of duplicates into database to keep from

In [32]:
from sqlalchemy import create_engine
import psycopg2 
import io
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5000/fuelly')
gas_aaa_df.to_sql('table_name', engine, if_exists='replace', index=False)

df.head(0).to_sql('table_name', engine, if_exists='replace',index=False) #truncates the table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'table_name', null="") # null values become ''
conn.commit()

ArgumentError: Column must be constructed with a non-blank name or assign a non-blank .name before adding to a Table.

In [ ]:
# "postgresql+psycopg2://postgres:postgres@localhost/fuelly"