# Scraping AAA to Pull Current Gas Prices

In [7]:
#import all modules for parsing.
from splinter import Browser
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
import pandas as pd
url = 'https://gasprices.aaa.com/'
# url = input(str("Enter Website Url"))

In [13]:
list_name =[]
regular_avg =[]
mid_avg = []
premium_avg = []
diesel_avg = []
e85_avg = []

In [14]:
#Function to define browser for mac. Working.
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {'executable_path': '/usr/local/bin/chromedriver'} #Used for Mac
    return Browser("chrome", **executable_path, headless=False)

In [16]:
#come back here to reload page to ensure recent results. Leave Lists Up top to keep from overwriting... Can always drop duplicates.
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'} #Used for Mac Scraping
# Browser("chrome", **executable_path, headless=False)
browser=init_browser()
url = 'https://gasprices.aaa.com/'
#'http://www.fuelly.com/activity?filter=4'
browser.visit(url)
html=browser.html

In [17]:
soup = bs(html, 'html.parser')
data = soup.find_all('table', class_="table-mob")
browser.quit()

In [18]:
#loop that runs through file table of gas prices that returns current gas index.
for data in data:
    list_name.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    regular_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    mid_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    premium_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    diesel_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())
    e85_avg.append(data.tr.find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().find_next().get_text())

In [19]:
new_df = pd.DataFrame({
    "Gas Price": list_name,
    "Regular": regular_avg,
    "Mid-Grade": mid_avg,
    "Premium": premium_avg,
    "Diesel": diesel_avg,
    "E85": e85_avg
})

## This will print the Current Average of the Day from AAA.COM

In [20]:
#Current Average Gas Scrape. (11/2/2019 @ 8:16pm)
#based on AAA.Com Website.
new_df

      Gas Price Regular Mid-Grade Premium  Diesel     E85
0  Current Avg.  $2.030    $2.369  $2.634  $2.414  $1.891

In [21]:
#this is a nice sample loop to print each row in seperate lists.
table = soup.find('table', attrs={'class':'table-mob'})
table_rows = table.find_all('tr')
gas_list_aaa = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    gas_list_aaa.append(row)
gas_aaa_df = pd.DataFrame(gas_list_aaa, columns=["", "Regular", "Mid-Grade", "Premium","Diesel", "E85"]).drop([0])

## This will Print the Entire Table from AAA.COM for later Analysis.

In [22]:
gas_aaa_df

                  Regular Mid-Grade Premium  Diesel     E85
1    Current Avg.  $2.030    $2.369  $2.634  $2.414  $1.891
2  Yesterday Avg.  $2.022    $2.360  $2.626  $2.414  $1.879
3   Week Ago Avg.  $1.978    $2.325  $2.594  $2.410  $1.851
4  Month Ago Avg.  $1.826    $2.177  $2.444  $2.423  $1.697
5   Year Ago Avg.  $2.758    $3.093  $3.346  $3.055  $2.373

In [23]:
pdata = []
qdata = []
rdata = []
sdata =[]
tdata = []
for price in gas_aaa_df.loc[:, 'Regular']:
    pdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'Mid-Grade']:
    qdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'Premium']:
    rdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'Diesel']:
    sdata.append(float(price[1:]))
for price in gas_aaa_df.loc[:, 'E85']:
    tdata.append(float(price[1:]))

In [24]:
gas_aaa_df['Regular'] = pdata
gas_aaa_df['Mid-Grade'] = qdata
gas_aaa_df['Premium'] = rdata
gas_aaa_df['Diesel'] = sdata
gas_aaa_df['E85']= tdata

In [25]:
gas_aaa_df

                   Regular  Mid-Grade  Premium  Diesel    E85
1    Current Avg.    2.030      2.369    2.634   2.414  1.891
2  Yesterday Avg.    2.022      2.360    2.626   2.414  1.879
3   Week Ago Avg.    1.978      2.325    2.594   2.410  1.851
4  Month Ago Avg.    1.826      2.177    2.444   2.423  1.697
5   Year Ago Avg.    2.758      3.093    3.346   3.055  2.373

In [26]:
gas_aaa_df.to_csv('aaa_gasprices.csv')

In [30]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5000/fuelly')
gas_aaa_df.to_sql('table_name', engine, if_exists='replace', index=False)

ArgumentError: Column must be constructed with a non-blank name or assign a non-blank .name before adding to a Table.

In [ ]:
# "postgresql+psycopg2://postgres:postgres@localhost/fuelly"