## Once These Modules are Imported, No Need to Refresh. It will overwrite the Lists that You've compiled for the session.

In [1]:
#import all modules for parsing.
from splinter import Browser
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
import pandas as pd
# url = input(str("Enter Website Url"))
url = 'http://www.fuelly.com/activity?filter=4'
user_list =[]
vehicle_list =[]
mpg_list= []

In [2]:
#Function to define browser for mac. Working.
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {'executable_path': '/usr/local/bin/chromedriver'} #Used for Mac
    return Browser("chrome", **executable_path, headless=False)

In [54]:
#function to concatenate list items
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element+" ")
    return result

### To Refresh Scrape Script Run the Following Cell. This will keep using the search query for URL Above.

In [3]:
#come back here to reload page to ensure recent results. Leave Lists Up top to keep from overwriting... Can always drop duplicates.
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)
#'http://www.fuelly.com/activity?filter=4'
browser = init_browser()
browser.visit(url)
html=browser.html
soup = bs(html, 'html.parser')
data = soup.find_all('li', class_="activity-list-item fy-icon-fuel-ups")
for data in data:
    user_list.append(data.a.get_text())
    vehicle_list.append(data.a.find_next().get_text())
    mpg_list.append(data.a.find_next().find_next().get_text())
browser.quit()

In [93]:
test_list = vehicle_list
year = []
make = []
model = []
model2 =[]
#function to further split the vehicle list for clean up and analysis.
for x in vehicle_list:
    # print(x.split()[0])
    year.append(x.split()[0])
    make.append(x.split()[1])
    model.append(x.split()[2:])

In [79]:
concatenate_list_data(model[1])[:-1]

'Silverado 1500'

In [94]:
#to concatenate the strings that are split from the vehicle columns.
for x in model:
        model2.append(concatenate_list_data(x))

In [97]:
len(model2)

50

In [105]:
new_df = pd.DataFrame({
    "User": user_list,
    "Year": year,
    "Make": make,
    "Model": model2,
    "MPG": mpg_list,
    "Year": year,
    "Make": make,
    # "Model": model
})
new_df.drop_duplicates().to_csv('fuelly-11_3_2019-20_18.csv')

In [99]:
# new_df.to_csv('fuelly-11_2_2019-18_50.csv')

AttributeError: 'list' object has no attribute 'unsplit'

In [106]:
# new_df2.drop(columns={'Unnamed: 0','Unnamed: 6'})
new_df

              User  Year           Make                  Model             MPG
0      classicsuby  2004           Saab                   9-5         22.4 MPG
1   aguilarassasin  2019      Chevrolet        Silverado 1500         18.7 MPG
2           mystix  2017          Honda                  CR-V         24.3 MPG
3        namichael  2017           Jeep              Renegade         27.1 MPG
4            sioux  2012         Toyota                Tacoma         13.2 MPG
5      MelchiorRSA  2011        Triumph        Tiger 1050 ABS         39.7 MPG
6       leontangwc  2012         Toyota              Vellfire         23.0 MPG
7      markbra2010  2008         Yamaha               YBR 125         89.2 MPG
8           mgwdew  2012           Seat                 Ibiza         48.4 MPG
9        r6emperor  2018     Volkswagen         Golf Alltrack         31.5 MPG
10          iamfob  2012          Honda               Insight         43.4 MPG
11         bromarc  2007           Jeep        Grand Cherokee         23.1 MPG
12         dowdydl  2020         Toyota                Tundra         16.2 MPG
13         69franx  2018           Ford                 F-150         18.3 MPG
14          OwenMc  2015           Seat                  Leon         39.4 MPG
15         thomasa  1982  Mercedes-Benz                 300TD         23.4 MPG
16        dunthank  2013        Hyundai               Elantra         31.8 MPG
17       SystemJim  2014          Mazda                  CX-5         26.8 MPG
18      buggerthat  1993  Mercedes-Benz                  190E         22.0 MPG
19       Bhickey21  2017           Jeep        Grand Cherokee         21.3 MPG
20           lscrx  2020          Lexus                 RX350         21.6 MPG
21        minicoop  2016           Audi                    Q5         16.7 MPG
22       1093brown  2017        Hyundai                Tucson         35.2 MPG
23         stilela  2017       Cadillac                   XT5         27.3 MPG
24             abc  2013     Volkswagen      Jetta Sportwagen         42.3 MPG
25        bfaucett  2015      Chevrolet     Silverado 2500 HD         13.5 MPG
26           Rindt  2002           Audi                    A4         15.6 MPG
27           Keeef  1974         Austin                  Maxi         15.0 MPG
28      AtesFamily  2005           Ford                 F-150         16.0 MPG
29      EchoJarvis  2012         Nissan            Pathfinder         15.0 MPG
30       ARPatriot  2016            Kia                Forte5         32.5 MPG
31          echo03  2016          Honda                   Fit         39.3 MPG
32      martidiehl  2013          Honda                  CR-V         25.5 MPG
33        imsecond  2008          Honda                   Fit         35.7 MPG
34        zeimet50  1999          Dodge          Ram 1500 Van         14.1 MPG
35         campisi  2013         Nissan                Xterra         19.2 MPG
36          belrix  2017          Honda  CRF1000L Africa Twin         49.4 MPG
37       Coryf1989  2003     Volkswagen                 Jetta         32.6 MPG
38        csjonsin  2017     Volkswagen         Golf Alltrack         28.4 MPG
39      FLSouthPaw  2012            Kia                  Soul         24.4 MPG
40         TimboSV  2013         Daelim        S3 Advance 250         85.5 MPG
41           reegz  2012     Volkswagen                   GTI         25.9 MPG
42    Gingersnap86  2012            Ram                  1500         11.7 MPG
43    josefallas27  2017         Yamaha                 MT-07         56.5 MPG
44        Hillelec  2018            Ram                  2500          9.4 MPG
45        vtec2200  2008         Nissan            Pathfinder         15.7 MPG
46     brodyfrompa  2013         Suzuki                TU250X         59.8 MPG
47      macbot2000  2005         Nissan                 Titan         10.9 MPG
48         yawnson  2015  Mercedes-Benz         Sprinter 3500   43 minutes ago
49           Jim40  2017     Mitsubishi                Triton         23.9 MPG

### These Cells are Specific to CSV Writing, if you Run These Change the File Names to Keep from OverWriting.

In [5]:
#exports the dataframe to a csv file.
#can always export multiples and then reload to chop duplicates???
# new_df.to_csv('fuelly-11_3_2019-19:19.csv')

In [9]:
#@todo: clean data and reload into pandas
new_df2 = pd.read_csv('data/fuelly_logs/fuelly_complete_11-02-2019.csv')
new_df2

                  User  Year       Make      Model    MPG
0              14focus  2018       Ford      Focus   45.2
1              14focus  2018       Ford      Focus   41.8
2         16fordescape  2016       Ford     Escape   21.0
3           1720diesel  2016  Chevrolet  Silverado   14.8
4          17trailhawk  2017       Jeep   Cherokee   16.7
...                ...   ...        ...        ...    ...
1074            yfz450  2018     Nissan      Titan   12.3
1075         ronbo2004  2004       Ford      F-150   11.7
1076           MrDJ246  2010       Ford      F-150   11.5
1077             sioux  2012     Toyota     Tacoma   11.3
1078  SilverBulletCSVT  2010     Yamaha     YBR125  102.0

[1079 rows x 5 columns]

In [16]:
new_df2.groupby('Make'

In [22]:
# master2.groupby('Category')
#count the different categories in the category count.
# model_counts = new_df2['Model'].nunique()
# # make_count = new_df2['Make'].nunique()
# user_counts = new_df2['Users'].nunique()
# #get the average of the reviews for sample of 50
# average_mpg = new_df2['MPG'].mean()

# #group by category
# grouped_df = new_df2.groupby('Make')

# #counts the total of each category within the column
# total_makes = new_df2['Make'].count()
# user_counts = new_df2['User'].nunique()
# average_mpg = new_df2['MPG'].mean()

# #This will populate an array of all categories in Sample.
# # east_category_unique = grouped["Category"].unique()
# # east_category_unique #121 unique categories
# # east_total_categories = len(east_category_unique)

# #Populate a dataframe with specfics on Manhattan,NY Grouped by Category.
# #This will populate the top 10 Categories when using .head(10)Can Be Changed for scope.
# category_stats_df= pd.DataFrame({
#     'Total Makes': total_makes,
#     "Total Users": user_counts,
#     "Average MPG": average_mpg })

ValueError: If using all scalar values, you must pass an index

### Final DataFrame After Clean Up

In [ ]:
#adjust to drop unecessary columns after clean up.
# new_df2.drop(columns={'Unnamed: 0','Unnamed: 6'})
# new_df3 = new_df2.drop(columns={'Unnamed: 0'}).drop_duplicates()
# new_df3