## Once These Modules are Imported, No Need to Refresh. It will overwrite the Lists that You've compiled for the session.

In [1]:
#import all modules for parsing.
from splinter import Browser
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
import pandas as pd
# url = input(str("Enter Website Url"))
url = 'http://www.fuelly.com/activity?filter=4'
user_list =[]
vehicle_list =[]
mpg_list= []

### To Refresh Scrape Script Run the Following Cell. This will keep using the search query for URL Above.

In [2]:
#come back here to reload page to ensure recent results. Leave Lists Up top to keep from overwriting... Can always drop duplicates.
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
#'http://www.fuelly.com/activity?filter=4'
browser.visit(url)
html=browser.html
soup = bs(html, 'html.parser')
data = soup.find_all('li', class_="activity-list-item fy-icon-fuel-ups")
for data in data:
    user_list.append(data.a.get_text())
    vehicle_list.append(data.a.find_next().get_text())
    mpg_list.append(data.a.find_next().find_next().get_text())
browser.quit()

In [3]:
new_df = pd.DataFrame({
    "User": user_list,
    "Vehicle": vehicle_list,
    "MPG": mpg_list
})
new_df.drop_duplicates().to_csv('fuelly-11_2_2019-20_18.csv')

In [4]:
# new_df.to_csv('fuelly-11_2_2019-18_50.csv')
new_df

                User                               Vehicle             MPG
0             mtang2                          2007 Mazda 3        27.3 MPG
1          DCarp8973                           2019 BMW X3        25.9 MPG
2            chinwey                       2018 Honda City        53.8 MPG
3         webster354                 1991 Mazda MX-5 Miata        22.1 MPG
4            cjcraig                      2019 Lincoln MKC        19.6 MPG
5         clubizarre                          2016 Mazda 3        30.8 MPG
6           magna413                        2018 Seat Leon        24.2 MPG
7              Tinus                     2013 Jeep Liberty        16.7 MPG
8             keizai                    2017 Jeep Cherokee        19.8 MPG
9          paolofuel                    2017 Toyota Sienna        19.2 MPG
10          thekuyku                     2014 Toyota Auris        30.5 MPG
11         paolofuel                        2015 Volvo S60        17.9 MPG
12        maggie7137                     2004 Toyota Camry        23.4 MPG
13         rockjetty                  2016 Nissan Frontier        19.4 MPG
14       macreuse450                       2013 Ford Focus        31.0 MPG
15            EcoFit       2018 Volkswagen Golf SportWagen        38.5 MPG
16           redkiwi           2016 Can-Am Spyder F3 (SE6)        43.6 MPG
17          sunra360                   2018 Honda Grom 125       113.2 MPG
18          Jaxiness                   2009 Hyundai Tucson        21.9 MPG
19           Cobwebs                2017 Volkswagen Tiguan        29.6 MPG
20            Jbarn2                    2015 Jeep Renegade        21.5 MPG
21            69w108              1969 Mercedes-Benz 280SE        15.4 MPG
22          dgarcias               2017 Chevrolet Traverse        16.8 MPG
23        MegaGergin              2019 Yamaha XMAX 250 ABS  39 minutes ago
24           Akhyang                  2016 BMW 328d xDrive        25.4 MPG
25             VonaG        2018 Mitsubishi Outlander PHEV        32.8 MPG
26         r6emperor         2018 Volkswagen Golf Alltrack        27.7 MPG
27           parsaur                      2019 Toyota RAV4        44.5 MPG
28           jthomas                     2014 Lexus RX450h        27.9 MPG
29           G_gazoo                   2002 Toyota Corolla        23.6 MPG
30          rbrennan                     2002 Dodge Dakota        19.1 MPG
31            OzMoto                    2019 Yamaha XSR900        44.9 MPG
32    bookermorgan86               2004 GMC Sierra 2500 HD        12.7 MPG
33      adamworrall4                   2015 Subaru Impreza        27.7 MPG
34           arnieSR                   2019 Hyundai Accent        25.8 MPG
35        Jackes1754                  2011 Toyota Fortuner        16.7 MPG
36             DGo12                    2017 Toyota Tundra        13.5 MPG
37             TWP75              2019 Jeep Grand Cherokee        13.2 MPG
38       22positions                 2015 Volkswagen Jetta        31.0 MPG
39   giannisamaliada                    2005 Skoda Octavia        33.3 MPG
40            FOCUS2                  2015 BMW 320i xDrive        33.9 MPG
41              dq72                  2015 Volkswagen Golf        23.0 MPG
42           dianaaa                       2014 Honda CR-V        30.6 MPG
43          yugodpkc                    2013 Toyota Sienna  56 minutes ago
44           Daaavid                  2018 GMC Sierra 1500        15.2 MPG
45             ph660                   2009 Nissan X-Trail        27.7 MPG
46  ThinusJvRensburg                           2012 BMW M5        16.7 MPG
47          KrazieSj                    2007 Toyota Tacoma        15.8 MPG
48            EODguy  1985 Honda GL1200L Gold Wing Limited        34.9 MPG
49            namaes                         2019 BMW 330e        24.9 MPG

### These Cells are Specific to CSV Writing, if you Run These Change the File Names to Keep from OverWriting.

In [26]:
#exports the dataframe to a csv file.
#can always export multiples and then reload to chop duplicates???
new_df.to_csv('fuelly-11_6_2019-01:19.csv')

In [12]:
#@todo: clean data and reload into pandas
new_df2 = pd.read_csv('rawdata/fuelly_complete_11-02-2019.csv')
new_df2

                  User  Year       Make      Model    MPG
0              14focus  2018       Ford      Focus   45.2
1              14focus  2018       Ford      Focus   41.8
2         16fordescape  2016       Ford     Escape   21.0
3           1720diesel  2016  Chevrolet  Silverado   14.8
4          17trailhawk  2017       Jeep   Cherokee   16.7
...                ...   ...        ...        ...    ...
1074            yfz450  2018     Nissan      Titan   12.3
1075         ronbo2004  2004       Ford      F-150   11.7
1076           MrDJ246  2010       Ford      F-150   11.5
1077             sioux  2012     Toyota     Tacoma   11.3
1078  SilverBulletCSVT  2010     Yamaha     YBR125  102.0

[1079 rows x 5 columns]

In [16]:
new_df2.groupby('Make')

In [22]:
# master2.groupby('Category')
#count the different categories in the category count.
# model_counts = new_df2['Model'].nunique()
# # make_count = new_df2['Make'].nunique()
# user_counts = new_df2['Users'].nunique()
# #get the average of the reviews for sample of 50
# average_mpg = new_df2['MPG'].mean()

# #group by category
# grouped_df = new_df2.groupby('Make')

# #counts the total of each category within the column
# total_makes = new_df2['Make'].count()
# user_counts = new_df2['User'].nunique()
# average_mpg = new_df2['MPG'].mean()

# #This will populate an array of all categories in Sample.
# # east_category_unique = grouped["Category"].unique()
# # east_category_unique #121 unique categories
# # east_total_categories = len(east_category_unique)

# #Populate a dataframe with specfics on Manhattan,NY Grouped by Category.
# #This will populate the top 10 Categories when using .head(10)Can Be Changed for scope.
# category_stats_df= pd.DataFrame({
#     'Total Makes': total_makes,
#     "Total Users": user_counts,
#     "Average MPG": average_mpg })

ValueError: If using all scalar values, you must pass an index

### Final DataFrame After Clean Up

In [ ]:
#adjust to drop unecessary columns after clean up.
# new_df2.drop(columns={'Unnamed: 0','Unnamed: 6'})
# new_df3 = new_df2.drop(columns={'Unnamed: 0'}).drop_duplicates()
# new_df3